<?xml version="1.0" encoding="utf-8"?>
<settings>
    <setting name="dropShadow"
             tab="GENERAL"
             category="@string/appearance"
             title="@string/drop_shadow_prop"
             description="@string/drop_shadow_desc"
             type="BOOL"
             defaultValue="false"/>
    <setting name="backgroundColor"
             tab="GENERAL"
             category="@string/appearance"
             title="@string/background_color_prop"
             description="@string/background_color_desc"
             type="TRANSPARENT_COLOR"
             defaultValue="#22000000"/>
    <setting name="headerColor"
             tab="GENERAL"
             category="@string/appearance"
             title="@string/header_color_prop"
             description="@string/header_color_desc"
             type="COLOR"
             defaultValue="#FFFFFF"/>
    <setting name="controlColor"
             tab="GENERAL"
             category="@string/appearance"
             title="@string/control_color_prop"
             description="@string/control_color_desc"
             type="COLOR"
             defaultValue="#FEC300"/>
    <setting name="longDateFormat"
             tab="GENERAL"
             category="@string/datettime_format"
             title="@string/long_date_prop"
             description=""
             type="DATE_LONG"
             defaultValue="LONG"/>
    <setting name="shortDateFormat"
             tab="GENERAL"
             category="@string/datettime_format"
             title="@string/short_date_prop"
             description=""
             type="DATE_SHORT"
             defaultValue="SHORT"/>
    <setting name="timeFormat"
             tab="GENERAL"
             category="@string/datettime_format"
             title="@string/time_prop"
             description=""
             type="TIME"
             defaultValue="SHORT"/>
    <setting name="calendars"
             tab="CALENDAR"
             category="@string/calendars_category"
             title="@string/selected_calendars_prop"
             description="@string/selected_calendars_desc"
             type="CALENDARS"
             defaultValue=""/>
</settings>
