<?xml version="1.0" encoding="utf-8"?>
<settings>
<!-- General Settings -->
    <UpdateFrequency name="updateFrequency"
             tab="GENERAL"
             category="@string/widget_options"
             title="@string/update_frequency_prop"
             description=""
             defaultValue="300000"/>
    <Bool name="dropShadow"
             tab="GENERAL"
             category="@string/appearance_category"
             title="@string/drop_shadow_prop"
             description="@string/drop_shadow_desc"
             defaultValue="false"/>
    <TransparentColor name="backgroundColor"
             tab="GENERAL"
             category="@string/appearance_category"
             title="@string/background_color_prop"
             description="@string/background_color_desc"
             defaultValue="#22000000"/>
    <Color name="headerColor"
             tab="GENERAL"
             category="@string/appearance_category"
             title="@string/header_color_prop"
             description="@string/header_color_desc"
             defaultValue="#FFFFFF"/>
    <Color name="controlColor"
           tab="GENERAL"
           category="@string/appearance_category"
           title="@string/control_color_prop"
           description="@string/control_color_desc"
           defaultValue="#FEC300"/>
    <Color name="dateTitleColor"
           tab="GENERAL"
           category="@string/appearance_category"
           title="@string/date_title_color_prop"
           description="@string/date_title_color_desc"
           defaultValue="#FFFFFF"/>
    <Color name="locationNotesColor"
           tab="GENERAL"
           category="@string/appearance_category"
           title="@string/location_notes_color_prop"
           description="@string/location_notes_color_desc"
           defaultValue="#B8B8B8"/>
    <Bool name="todayBold"
          tab="GENERAL"
          category="@string/appearance_category"
          title="@string/today_bold_prop"
          description="@string/today_bold_desc"
          defaultValue="true"/>
    <Color name="todayDateTitleColor"
           tab="GENERAL"
           category="@string/appearance_category"
           title="@string/today_date_title_color_prop"
           description="@string/today_date_title_color_desc"
           defaultValue="#FF0000"/>
    <Color name="todayLocationNotesColor"
           tab="GENERAL"
           category="@string/appearance_category"
           title="@string/today_location_notes_color_prop"
           description="@string/today_location_notes_color_desc"
           defaultValue="#b80000"/>
    <DateLong name="longDateFormat"
             tab="GENERAL"
             category="@string/datettime_format"
             title="@string/long_date_prop"
             description=""
             defaultValue="LONG"/>
    <DateShort name="shortDateFormat"
             tab="GENERAL"
             category="@string/datettime_format"
             title="@string/short_date_prop"
             description=""
             defaultValue="SHORT"/>
    <Time name="timeFormat"
             tab="GENERAL"
             category="@string/datettime_format"
             title="@string/time_prop"
             description=""
             defaultValue="SHORT"/>
<!-- Calendar Settings -->
    <Calendars name="calendars"
             tab="CALENDAR"
             category="@string/calendars_category"
             title="@string/selected_calendars_prop"
             description="@string/selected_calendars_desc"
             defaultValue=""/>
    <SearchPeriod name="searchPeriod"
                     tab="CALENDAR"
                     category="@string/calendar_options_category"
                     title="@string/search_period_prop"
                     description=""
                     defaultValue="2678400000"/>
    <Bool name="groupByDate"
          tab="CALENDAR"
          category="@string/calendar_options_category"
          title="@string/group_by_date_prop"
          description="@string/group_by_date_desc"
          defaultValue="false"/>
    <Bool name="repeatMultidayEvents"
          tab="CALENDAR"
          category="@string/calendar_options_category"
          title="@string/repeat_multiday_events_prop"
          description="@string/repeat_multiday_events_desc"
          defaultValue="true"/>


    <Bool name="showLocation"
          tab="CALENDAR"
          category="@string/layout_options_category"
          title="@string/show_location_prop"
          description="@string/show_location_desc"
          defaultValue="false"/>
    <Bool name="showNotes"
          tab="CALENDAR"
          category="@string/layout_options_category"
          title="@string/show_notes_prop"
          description="@string/show_notes_desc"
          defaultValue="false"/>
    <NumberOfLines name="notesMaxLines"
          tab="CALENDAR"
          category="@string/layout_options_category"
          title="@string/notes_number_of_lines_prop"
          description="@string/notes_number_of_lines_desc"
          defaultValue="1"/>
</settings>
